<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- <caching enabled="true" enableKernelCache="true" maxCacheSize="1000" maxResponseSize="512000" /> -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <!-- <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge" /> -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
      <mimeMap fileExtension=".apk" mimeType="images/apk" />
      <remove fileExtension=".csv" />
      <mimeMap fileExtension=".csv" mimeType="text/csv" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>